* {
    /* background-color: whitesmoke; */
    font-family: "Courier New", Courier, monospace;
    text-align: center;
    margin: 0;
}

.registercontainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.registercontainer img {
    width: 15vw;
}

.registercontainer p {
    padding: 20px;
}

.registerinputcontainer {
    background-color: rgb(252, 237, 237);
    width: 18vw;
}

.logincontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logincontainerinput {
    background-color: rgb(252, 237, 237);
    width: 18vw;
}

.logincontainer p {
    padding: 10px;
}

.logincontainer img {
    width: 15vw;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: rgb(215, 125, 117);
    background: linear-gradient(
        180deg,
        rgba(215, 125, 117, 1) 24%,
        rgba(252, 237, 237, 1) 100%
    );
    height: 80px;
    margin-bottom: 50px;
}

input {
    width: 200px;
    margin: 10px;
}

.profilepicanduploader {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.uploadercontainer {
    align-self: flex-end;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    cursor: pointer;
}

.inputfile + label {
    font-size: 1em;
    color: white;
    background-color: #323e48;
    display: inline-block;
    cursor: pointer;
    padding: 5px;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: black;
}

.logo {
    height: 80px;
    width: 80px;
    align-self: flex-start;
    background-color: transparent;
}

div.header .profilepic {
    width: 60px;
    height: 60px;
    align-self: flex-end;
    border-radius: 12%;
    background-size: cover;
    margin: 10px;
}

.profilecontainer {
    display: flex;
    flex-direction: row;
    margin: 20px;
    width: 60vw;
    background-color: rgb(252, 237, 237);
    border-radius: 1%;
}

.profilepic {
    width: 300px;
    height: 300px;
    align-self: flex-end;
    background-size: cover;
    padding-bottom: 5px;
    margin: 25px;
    cursor: pointer;
}

.profiletext {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.profiletext h2 {
    text-align: left;
}

.biotext {
    text-align: left;
    padding-top: 20px;
}

.biotext p {
    text-align: left;
    margin-bottom: 30px;
}

.bioupdateinput {
    display: flex;
    flex-direction: column;
}

textarea {
    width: 150px;
    height: 80px;
    background-color: #d77d75;
    text-align: left;
    padding: 30px;
    border: none;
}

.bioupdateinput button {
    display: flex;
    flex-direction: column;
    width: 80px;
    margin-top: 15px;
}

button {
    text-align: left;
    font-size: 1em;
    color: white;
    background-color: #d77d75;
    display: inline-block;
    cursor: pointer;
    padding: 5px;
    border: none;
}

.otherprofile {
    display: flex;
    flex-direction: row;
    margin: 20px;
    width: 60vw;
    background-color: rgb(252, 237, 237);
    border-radius: 1%;
}

.otherprofilepic {
    height: 300px;
    width: 300px;
    background-size: cover;
    align-self: center;
    margin: 10px;
}

.otherprofiletext {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 15px;
}

.otherprofiletext p {
    margin-top: 10px;
    text-align: left;
    width: 500px;
}

.mappedusers {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}

.mappedusersimg {
    height: 100px;
    width: 100px;
    margin: 10px;
}

.linkcontainer {
    display: flex;
    justify-content: flex-end;
}

.linkcontainer h3 {
    align-self: center;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
    margin: 20px;
}

.chat-messages-container {
    height: 300px;
    width: 80%;
    overflow-y: scroll;
    margin: 20px;
    display: flex;
    flex-direction: column;
}

div.chat-messages-container img {
    height: 100px;
    width: 100px;
    margin: 10px;
}
