* {
    background-color: whitesmoke;
    font-family: "Courier New", Courier, monospace;
    text-align: center;
}

.registercontainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.logincontainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

input {
    width: 200px;
    margin: 10px;
}

img {
    width: 20vw;
}

.uploadercontainer {
    width: 30vw;
    height: 20vw;
    background-color: tomato;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    cursor: pointer;
}

.inputfile + label {
    font-size: 1em;
    color: white;
    background-color: #323e48;
    display: inline-block;
    cursor: pointer;
    padding: 5px;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: pink;
}
